@model LibraryManager.Models.LoanHistory

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do Empréstimo</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLoan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.BookName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanDateStr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanDateStr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDeadlineStr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDeadlineStr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDateStr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDateStr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDateStr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDateStr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDateStr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDateStr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedDateStr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedDateStr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndAtivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndAtivo)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="RenewLoan" asp-route-id="@Model.Id">Renovar</a> |
    <a class="btn btn-danger" asp-action="FinishLoan" asp-route-id="@Model.Id">Devolver</a> |
    <a class="btn btn-primary" asp-action="Index">Voltar</a>
</div>
