@model LibraryManager.Models.ViewModels.UserListViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do Usuário</h1>

<hr />
<div class="d-flex justify-content-start">
    <dl class="row col-4">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.User.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.User.Sex)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.User.Sex)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.User.Telephone)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.User.Telephone)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.User.Status)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.User.Status)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.User.BirthDateStr)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.User.BirthDateStr)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.User.EndPenalizedPeriodStr)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.User.EndPenalizedPeriodStr)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.User.CreatedDateStr)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.User.CreatedDateStr)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.User.UpdatedDateStr)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.User.UpdatedDateStr)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.User.DeletedDateStr)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.User.DeletedDateStr)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.User.IndAtivo)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.User.IndAtivo)
        </dd>
    </dl>
    <d2 class="container col-8">
        <h4>Últimos empréstimos</h4>
        <hr />
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="table-primary">
                    <th class="col-sm-1">
                        @Html.DisplayNameFor(model => model.LoanHistorys.First().IdLoan)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LoanHistorys.First().Book)
                    </th>
                    <th class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LoanHistorys.First().LoanDateStr)
                    </th>
                    <th class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LoanHistorys.First().ReturnDateStr)
                    </th>
                    <th class="col-sm-1">
                        @Html.DisplayNameFor(model => model.LoanHistorys.First().Status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.LoanHistorys)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdLoan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Book.BookName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LoanDateStr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReturnDateStr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <a asp-controller="LoanHistorys" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </d2>
</div>
<hr />
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.User.Id">Editar</a> |
    <a class="btn btn-primary" asp-action="Index">Voltar</a>
</div>
