@model IEnumerable<LibraryManager.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuários</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Cadastrar Usuário</a>
</p>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDateStr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndPenalizedPeriodStr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDateStr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDateStr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndAtivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDateStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndPenalizedPeriodStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDateStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndAtivo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
